*.swp
*.lpp
/build
/install
/libpic170x.X/build/default/

/examples/blink.X/nbproject/private/
/examples/blink.X/build/default/
/examples/blink.X/dist/default/
/examples/serialecho.X/nbproject/private/
/examples/serialecho.X/build/default/
/examples/serialecho.X/dist/default/
